:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-one: "Josefin Sans", sans-serif;
  --font-two: "Josefin Sans", sans-serif;
  --font-three: "Yeseva One", serif;
}

.hero-homepage {
  background: #f5f2fe;
  padding: 160px;
}
.hero-homepage p {
  line-height: 0.5;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: var(--font-three);
  font-weight: 900;
  font-size: 200px;
}
.hero-homepage h1 {
  font-size: 80px;
  font-weight: bolder;
  line-break: strict;
}

.hero-homepage h2 {
  font-size: 30px;
  font-family: var(--font-two);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: var(--font-two);
}

.mb-5 strong {
  font-family: var(--font-three);
  opacity: none;
}

.img {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  max-width: 375px;
}

img {
  max-width: 200px;
}

strong {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--font-two);
  margin: 20px 0 0;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 20px;
  font-family: var(--font-one);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--font-one);
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: var(--font-one);
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.project-desciption {
  padding: 120px 60px;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  font-size: 14px;
}

.about-paragraphs p {
  margin: 10px;
  font-size: 14px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.button-link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  footer .contact-box {
    padding: 30px;
  }

}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--font-two);
}
.about-section {
  padding: 160px 20px;
}

.about-section-content {
  margin: 30px;
}

.about-img {
  width: 400px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
  text-decoration: none;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

footer .social-links {
  margin: 0 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--primary-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

h4 {
  font-size: 48px;
}

footer .contact-paragraph {
  margin: 0;
}
