:root {
  --primary-color: #fff6f6;
  --secondary-color: white;
  --third-color: #d05252;
  --fourth-color: #781f1f;
  --box-shadow: 0 5px 10px rgba(120, 31, 31);
  --font-one: "Josefin Sans", sans-serif;
  --font-two: "Josefin Sans", sans-serif;
  --font-three: "Yeseva One", serif;
}

.hero-homepage {
  background: var(--primary-color);
  padding: 80px;
}

.hero-image {
  width: 600px;
  display: block;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: var(--font-three);
  font-weight: 900;
  font-size: 200px;
}
.hero-homepage h1 {
  font-size: 80px;
  font-weight: bolder;
  line-break: strict;
  color: var(--third-color);
}

.hero-homepage h2 {
  font-size: 30px;
  font-family: var(--font-two);
  color: var(--third-color);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: var(--font-two);
  color: var(--third-color);
}

.mb-5 strong {
  font-family: var(--font-three);
  opacity: none;
  color: var(--third-color);
}

.img {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  max-width: 375px;
}

strong {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--font-two);
  margin: 20px 0 0;
  color: var(--fourth-color);
}

p {
  background: var(--primary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  margin: 20px;
  font-family: var(--font-one);
  color: var(--third-color);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  color: var(--third-color);
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--font-one);
  color: var(--third-color);
}

.btn.contact-link {
  margin: 20px;
  border-radius: 4px;
  padding: 10px 0 10px 0;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--font-one);
  color: var(--third-color);
  display: inline;
}

.btn.contact-link:hover {
  color: var(--fourth-color);
}

.projects-link {
  text-align: center;
  color: var(--fourth-color);
  text-decoration: none;
  font-weight: bolder;
}

.projects-link:hover {
  cursor: pointer;
  color: var(--fourth-color);
  text-decoration: none;
}
.about-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: var(--font-one);
}

.project-desciption {
  padding: 120px 60px;
}

.btn {
  background: var(--fourth-color);
  box-shadow: var(--box-shadow);
  font-family: var(--font-one);
  color: var(--primary-color);
}

.btn:hover {
  text-decoration: none;
  inherits: color;
  color: #fff6f6;
  background: #781f1f;
}

.homepage-link {
  color: var(--third-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  font-size: 14px;
  color: var(--third-color);
}

.about-paragraphs p {
  margin: 10px;
  font-size: 14px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--third-color);
  font-size: 28px;
  text-decoration: none;
  font-family: var(--font-two);
}

.email-link:hover {
  text-decoration: underline;
  color: inherit;
}

a .contact-link-hyperlinks {
  text-decoration: none;
  color: inherit;
}

.button-link {
  text-decoration: none;
  color: inherit;
  color: var(--fourth-color);
}

.button-link:hover {
  text-decoration: none;
  color: var(--first-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  footer .contact-box {
    padding: 30px;
  }
  img {
    max-width: 200px;
  }
}

.img-fluid {
  width: 600px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--font-two);
}
.about-section {
  padding: 60px 20px;
}

.about-content-section h1 {
  color: var(--third-color);
}

.about-content-section h2 {
  color: var(--third-color);
  font-family: var(--font-two);
  font-size: 25px;
}

.about-section-content {
  margin: 30px;
}

.about-img {
  width: 400px;
  border-radius: 10px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  color: var(--third-color);
}

nav a {
  text-decoration: none;
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--fourth-color);
  text-decoration: none;
}

footer .email-link {
  text-decoration: none;
  color: var(--fourth-color);
  font-size: 24px;
  text-align: center;
  font-family: var(--font-two);
}

footer .email-link:hover {
  color: var(--fourth-color);
  text-decoration: none;
  cursor: pointer;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--fourth-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background: var(--fourth-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--third-color);
  padding: 30px 100px;
  border-radius: 10px;
  color: var(--secondary-color);
  margin: 40px;
  font-family: var(--font-three);
  font-size: large;
}

.contact-box h4 {
  font-size: 45px;
  font-family: var(--font-three);
}

footer .contact-paragraph {
  margin: 0;
  font-family: var(--font-two);
  color: var(--primary-color);
}

#contact {
  font-size: 64px;
  line-height: 80px;
  color: var(--third-color);
  font-family: var(--font-three);
}

.carousel-item {
  max-width: 800px;
}

.work-header {
  color: var(--third-color);
}

footer .contact-paragraph {
  color: white;
  font-size: 25px;
}

footer .btn {
  color: var(--primary-color);
  font-family: var(--font-two);
  margin: 25px;
  border-radius: 4px;
  padding: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.devIcons {
  color: #781f1f;
  font-size: 50px;
  text-align: center;
}
